@import '~style/helpers';

.container {
	flex-direction: column;
	background-color: #1E90FF;
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	position: relative;
	background-image: url('../../assets/backgrounds/rsz_mountains.jpg');
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -12px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.overlay{
	background-color: rgba(105,105,105, .9);
	z-index: 10;
	height: 300px;
	border-radius: 15px;
	width: 414px;
	position: absolute;
	line-height: 26pt;
}

br{
	margin-bottom: 4px;
}

.notes {
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 20px;

}
.suggestions{
	background-color: rgba(211,211,211, .5);
	height: 175px;
	border: 0px solid;
	border-radius: 20px;
	width: 92%;
	display: inline-block;
	margin-bottom: 10px;
	postition: absolute;
}
.bottombar{
	height: 53px;
	width: 375px;
	display:inline-block;

}

.scheduling{
  background-color: rgba(211,211,211, .5);
	height: 100px;
	border: 0px solid;
	border-radius: 20px;
	width: 23%;
	display: inline-block;
	postition: absolute;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 12px;
}

.ul{
	text-align: left;
}
